&-block {
	border-radius: 12px;
	background-color: #ffffff;

	height: 100%;
	position: relative;
	&__inner {
		padding: 30px;
		&--head {
			border-bottom: 1px solid $greyShady;
		}
		&--actions {
			display: flex;
			.imageseo-block__inner {
				&__title {
					flex: 1;
				}
			}
		}
	}
	h2,
	h3 {
		margin-top: 0;
		font-size: 24px;
		font-weight: bold;
		color: $blueShady;
		margin-bottom: 10px;
	}
	p {
		font-size: 16px;
		color: $blackLight;
		line-height: 1.5;
		&:last-child {
			margin-bottom: 0;
		}
	}
	&--secondary {
		background-image: linear-gradient(97deg, #3139cc, #179ae6);
		color: #fff;
		p,
		h2,
		h3 {
			color: #fff;
		}
	}
	&--introduce {
		padding: 30px;
		height: 153px;
		display: flex;
		justify-content: center;
		flex-direction: column;
		h2 {
			margin-bottom: 0;
		}
	}
	&__image-introduce {
		position: absolute;
		right: 0;
		top: 0;
		object-fit: contain;
	}
	&__image-oval {
		position: absolute;
		left: 0;
		bottom: 0;
		object-fit: contain;
	}
}
