&-btn {
	transition: all 0.1s ease-in 0s;
	display: inline-block;
	border: none;

	border-radius: 4px;
	padding: 14px 30px;
	cursor: pointer;
	text-decoration: none;
	opacity: 1;
	font-weight: bold;
	font-size: 14px;
	color: $blueShady;
	&--primary {
		background: $blueCoral;
		color: $blueShady;
	}
	&--large {
		padding: 1.3rem 3rem;
		font-size: 1.4rem;
	}
	&--simple {
		border: solid 1px $greyShady;
		background-color: #ffffff;
	}
}
