
$white: #fff;
$blackShady: #212529;
$black: #212B3D;
$blackLight: #2C303B;
$blueDark: #1B4195;
$greyLight: #EBECF0;
$grey: #A0A0A3;
$greyShady: #C8D0DD;
$blueShady: #08142E;
$greyBright: #F5F5FA;
$greyDark: #7884A1;
$blueCoral: #04EDDA;
$blueLight: #179AE5;
$blue: #3139CC;