@import "colors";
@import "fonts";

.imageseo {
	@import "buttons";
	@import "settings";
}

*[class^="imageseo"],
*[class^="imageseo"] * {
	box-sizing: border-box;
}

@keyframes imageseo-loading {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.column-imageseo_social_media {
	width: 12%;
}

.imageseo-loading {
	&:after {
		content: " ";
		display: block;
		width: 10px;
		height: 10px;
		margin: 1px;
		border-radius: 50%;
		border: 5px solid #fff;
		border-color: #fff transparent #fff transparent;
		animation: imageseo-loading 1.2s linear infinite;
	}
}

.wrapper-imageseo-input-alt,
.wrapper-imageseo-input-filename {
	display: flex;
}

.imageseo-loading--library {
	margin-left: 5px;
	&:after {
		width: 10px;
		height: 10px;
		border-color: #4040bf transparent #4040bf transparent;
	}
}

.imageseo_filename .media-column-imageseo .button,
.imageseo_alt .media-column-imageseo .button {
	white-space: normal;
}

.upload-php {
	#imageseo_alt.manage-column.column-imageseo_alt,
	#imageseo_filename.manage-column.column-imageseo_filename,
	.column-imageseo_alt,
	.column-imageseo_filename {
		width: 24%;
	}

	.column-title {
		width: 25%;
	}

	.column-imagify_optimized_file.column-imagify_optimized_file {
		width: 150px !important;
	}
}
