@import "colors";
@import "fonts";

.imageseo {
	@import "buttons";
	@import "settings";
}

.column-imageseo_social_media {
	width: 12%;
}

.imageseo_filename .media-column-imageseo .button,
.imageseo_alt .media-column-imageseo .button {
	white-space: normal;
}

.upload-php {
	#imageseo_alt.manage-column.column-imageseo_alt,
	#imageseo_filename.manage-column.column-imageseo_filename,
	.column-imageseo_alt,
	.column-imageseo_filename {
		width: 24%;
	}

	.column-title {
		width: 25%;
	}

	.column-imagify_optimized_file.column-imagify_optimized_file {
		width: 150px !important;
	}
}
