img {
	border: 0;
}

#wrap-imageseo {
	@tailwind base;
	@tailwind components;
	@tailwind utilities;
}

@keyframes imageseo-rotation {
	from {
		transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
		-webkit-transform: rotate(359deg);
	}
}
@-webkit-keyframes imageseo-rotation {
	from {
		transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
		-webkit-transform: rotate(359deg);
	}
}
